p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style-type: none;
}
li {
    padding: 1vh 0;
    color: rgb(0, 0, 146);
}
li:first-child {
    font-weight: bold;
    text-decoration: underline;
}
span {
    color: black;
}
img {
    width: 60px;
}
td {
    padding: 0 10px;
}