* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: rgb(44, 44, 44);
    width: 100%;
}
nav > ul{
    display: flex;
    justify-content: space-around;
}
nav > ul > li {
    padding: 1vh 2vw;
    transition: 0.3s;
}
nav > ul > li:hover {
    background-color: gray;
    transition: 0.3s;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
    gap: 3vh;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 235, 235);
    width: 600px;
    min-height: 120px;
    border: 4px double rgb(0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(128, 128, 128);
}
figcaption{
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 2px;
}
.dotted {
    border-bottom: 1px dashed gray;
    text-decoration: none;
}
.p-left {
    padding-left: 40px;
}
.a-center {
    align-items: center;
}
button {
    height: 40px;
    width: 150px;
    padding: 5px 15px;
    border-radius: 4px;
    background-color: rgb(204, 204, 204);
    transition: 0.3s;
}
button:hover {
    font-size: larger;
    background-color: gray;
    color: white;
    transition: 0.3s;
}